In [35]:
import pandas as pd
from matplotlib import pyplot as plt
filename="../../additional_resources/datasets/NYC Motor Vehicle Crashes/data_100000.csv"
df = pd.read_csv(filename)
df.columns

Index(['crash_date', 'crash_time', 'borough', 'zip_code', 'latitude',
       'longitude', 'location', 'on_street_name', 'off_street_name',
       'cross_street_name', 'number_of_persons_injured',
       'number_of_persons_killed', 'number_of_pedestrians_injured',
       'number_of_pedestrians_killed', 'number_of_cyclist_injured',
       'number_of_cyclist_killed', 'number_of_motorist_injured',
       'number_of_motorist_killed', 'contributing_factor_vehicle_1',
       'contributing_factor_vehicle_2', 'contributing_factor_vehicle_3',
       'contributing_factor_vehicle_4', 'contributing_factor_vehicle_5',
       'collision_id', 'vehicle_type_code1', 'vehicle_type_code2',
       'vehicle_type_code_3', 'vehicle_type_code_4', 'vehicle_type_code_5'],
      dtype='object')

In [36]:
df.head(10).T

,0,1,2,3,4,5,6,7,8,9
crash_date,2017-04-18T00:00:00.000,2017-05-06T00:00:00.000,2017-04-27T00:00:00.000,2017-05-09T00:00:00.000,2017-04-18T00:00:00.000,2017-05-08T00:00:00.000,2017-05-10T00:00:00.000,2017-04-24T00:00:00.000,2017-04-14T00:00:00.000,2017-05-02T00:00:00.000
crash_time,23:10,13:00,17:15,20:10,14:00,10:33,6:10,9:30,13:00,1:00
borough,STATEN ISLAND,BRONX,QUEENS,NaN,BRONX,NaN,NaN,BROOKLYN,NaN,BRONX
zip_code,10312,10472,11420,NaN,10456,NaN,NaN,11203,NaN,10474
latitude,40.5367,40.8291,40.6773,40.625,40.8288,40.5565,40.74,40.6516,40.7518,40.8169
longitude,-74.1933,-73.8504,-73.8046,-74.1458,-73.9031,-74.2078,-73.9763,-73.9323,-73.8173,-73.8827
location,"(40.536728, -74.193344)","(40.829052, -73.85038)","(40.677303, -73.804565)","(40.624958, -74.145775)","(40.828846, -73.90312)","(40.556454, -74.20777)","(40.740025, -73.97626)","(40.651646, -73.93233)","(40.7518, -73.817314)","(40.816864, -73.882744)"
on_street_name,NaN,CASTLE HILL AVENUE,135 STREET,FOREST AVENUE,NaN,WEST SHORE EXPRESSWAY,1 AVENUE,EAST 48 STREET,ROBINSON STREET,NaN
off_street_name,NaN,BLACKROCK AVENUE,FOCH BOULEVARD,RICHMOND AVENUE,NaN,NaN,EAST 28 STREET,CHURCH AVENUE,NaN,NaN
cross_street_name,243 DARLINGTON AVENUE,NaN,NaN,NaN,1167 BOSTON ROAD,NaN,NaN,NaN,NaN,772 EDGEWATER ROAD
number_of_persons_injured,0,1,0,1,0,0,0,0,0,0
number_of_persons_killed,0,0,0,0,0,0,0,0,0,0
number_of_pedestrians_injured,0,1,0,0,0,0,0,0,0,0
number_of_pedestrians_killed,0,0,0,0,0,0,0,0,0,0
number_of_cyclist_injured,0,0,0,0,0,0,0,0,0,0
number_of_cyclist_killed,0,0,0,0,0,0,0,0,0,0
number_of_motorist_injured,0,0,0,1,0,0,0,0,0,0
number_of_motorist_killed,0,0,0,0,0,0,0,0,0,0
contributing_factor_vehicle_1,Driver Inattention/Distraction,Failure to Yield Right-of-Way,Driver Inattention/Distraction,Unspecified,Driver Inattention/Distraction,Unsafe Lane Changing,Passing or Lane Usage Improper,Other Vehicular,Passing Too Closely,Unspecified
contributing_factor_vehicle_2,Unspecified,NaN,Unspecified,Unspecified,Unspecified,Unspecified,Unspecified,Other Vehicular,Unspecified,NaN
contributing_factor_vehicle_3,NaN,NaN,NaN,Unspecified,NaN,NaN,NaN,NaN,NaN,NaN
contributing_factor_vehicle_4,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
contributing_factor_vehicle_5,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
collision_id,3654181,3665311,3658491,3666554,3653269,3666365,3666842,3657123,3651039,3661896
vehicle_type_code1,Station Wagon/Sport Utility Vehicle,Sedan,Sedan,Motorcycle,Sedan,Sedan,Taxi,Station Wagon/Sport Utility Vehicle,Sedan,Pick-up Truck
vehicle_type_code2,NaN,NaN,Sedan,Sedan,Station Wagon/Sport Utility Vehicle,Sedan,Box Truck,Station Wagon/Sport Utility Vehicle,Station Wagon/Sport Utility Vehicle,NaN
vehicle_type_code_3,NaN,NaN,NaN,Bus,NaN,NaN,NaN,NaN,NaN,NaN
vehicle_type_code_4,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
vehicle_type_code_5,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [37]:
df.describe(include='all').loc['unique', :]

crash_date                         551
crash_time                        1440
borough                              5
zip_code                           NaN
latitude                           NaN
longitude                          NaN
location                         44605
on_street_name                    4327
off_street_name                   4897
cross_street_name                22829
number_of_persons_injured          NaN
number_of_persons_killed           NaN
number_of_pedestrians_injured      NaN
number_of_pedestrians_killed       NaN
number_of_cyclist_injured          NaN
number_of_cyclist_killed           NaN
number_of_motorist_injured         NaN
number_of_motorist_killed          NaN
contributing_factor_vehicle_1       54
contributing_factor_vehicle_2       47
contributing_factor_vehicle_3       30
contributing_factor_vehicle_4       12
contributing_factor_vehicle_5        9
collision_id                       NaN
vehicle_type_code1                 366
vehicle_type_code2                 385
vehicle_type_code_3                 64
vehicle_type_code_4                 31
vehicle_type_code_5                 18
Name: unique, dtype: object

In [38]:
print(df.apply(lambda col: col.unique()))

crash_date                       [2017-04-18T00:00:00.000, 2017-05-06T00:00:00....
crash_time                       [23:10, 13:00, 17:15, 20:10, 14:00, 10:33, 6:1...
borough                          [STATEN ISLAND, BRONX, QUEENS, nan, BROOKLYN, ...
zip_code                         [10312.0, 10472.0, 11420.0, nan, 10456.0, 1120...
latitude                         [40.536728000000004, 40.829052000000004, 40.67...
longitude                        [-74.193344, -73.85038, -73.804565, -74.145775...
location                         [(40.536728, -74.193344), (40.829052, -73.8503...
on_street_name                   [nan, CASTLE HILL AVENUE              , 135 ST...
off_street_name                  [nan, BLACKROCK AVENUE, FOCH BOULEVARD, RICHMO...
cross_street_name                [243       DARLINGTON AVENUE             , nan...
number_of_persons_injured               [0, 1, 3, 8, 2, 4, 5, 6, 7, 9, 11, 15, 10]
number_of_persons_killed                                              [0, 1, 2, 3]
number_of_pedestrians_injured                                [0, 1, 2, 3, 6, 5, 4]
number_of_pedestrians_killed                                                [0, 1]
number_of_cyclist_injured                                             [0, 1, 3, 2]
number_of_cyclist_killed                                                    [0, 1]
number_of_motorist_injured              [0, 1, 3, 8, 2, 4, 5, 6, 7, 9, 11, 15, 10]
number_of_motorist_killed                                             [0, 1, 2, 3]
contributing_factor_vehicle_1    [Driver Inattention/Distraction, Failure to Yi...
contributing_factor_vehicle_2    [Unspecified, nan, Other Vehicular, Failure to...
contributing_factor_vehicle_3    [nan, Unspecified, Following Too Closely, Pave...
contributing_factor_vehicle_4    [nan, Unspecified, Following Too Closely, Driv...
contributing_factor_vehicle_5    [nan, Unspecified, Following Too Closely, Unsa...
collision_id                     [3654181, 3665311, 3658491, 3666554, 3653269, ...
vehicle_type_code1               [Station Wagon/Sport Utility Vehicle, Sedan, M...
vehicle_type_code2               [nan, Sedan, Station Wagon/Sport Utility Vehic...
vehicle_type_code_3              [nan, Bus, Sedan, Station Wagon/Sport Utility ...
vehicle_type_code_4              [nan, Station Wagon/Sport Utility Vehicle, Sed...
vehicle_type_code_5              [nan, Sedan, Station Wagon/Sport Utility Vehic...
dtype: object

In [39]:
df['contributing_factor_vehicle_4'].isnull().sum()

97760

In [40]:
df['contributing_factor_vehicle_4'].unique()

array([nan, 'Unspecified', 'Following Too Closely',
       'Driver Inattention/Distraction', 'Other Vehicular',
       'Unsafe Speed', 'Reaction to Uninvolved Vehicle',
       'Pavement Slippery', 'Obstruction/Debris',
       'Outside Car Distraction', 'Backing Unsafely',
       'Aggressive Driving/Road Rage', 'Alcohol Involvement'],
      dtype=object)

In [41]:
df[['location', 'latitude', 'longitude']] .head(10)

                  location   latitude  longitude
0  (40.536728, -74.193344)  40.536728 -74.193344
1   (40.829052, -73.85038)  40.829052 -73.850380
2  (40.677303, -73.804565)  40.677303 -73.804565
3  (40.624958, -74.145775)  40.624958 -74.145775
4   (40.828846, -73.90312)  40.828846 -73.903120
5   (40.556454, -74.20777)  40.556454 -74.207770
6   (40.740025, -73.97626)  40.740025 -73.976260
7   (40.651646, -73.93233)  40.651646 -73.932330
8    (40.7518, -73.817314)  40.751800 -73.817314
9  (40.816864, -73.882744)  40.816864 -73.882744

In [42]:
df=df.drop(axis=1, columns=['longitude','latitude']) #repition of the same info in location feature

In [43]:
df=df.drop(axis=1 , columns=['collision_id']) #not important information for machine learning

In [44]:
print(df['vehicle_type_code1'].unique()) # to reduce the number of different vechile types types

['Station Wagon/Sport Utility Vehicle' 'Sedan' 'Motorcycle' 'Taxi'
 'Pick-up Truck' 'Ambulance' 'Tractor Truck Diesel' 'Bus' nan 'Box Truck'
 'Bike' 'deliv' 'Van' 'tower' 'PAS' 'Tanker' 'Flat Bed' 'Convertible'
 'Motorscooter' 'Moped' 'e-350' 'PASSENGER VEHICLE' 'RV'
 'SPORT UTILITY / STATION WAGON' 'Garbage or Refuse' 'Chassis Cab' 'self'
 'Concrete Mixer' 'Tractor Truck Gasoline' '2 dr sedan'
 'Tow Truck / Wrecker' 'Beverage Truck' 'Flat Rack' 'Carry All'
 'Motorbike' 'REFG' 'van' '4 dr sedan' 'Bulk Agriculture' 'PK' 'POSTA'
 'TRACT' 'E-Bike' 'DELV' 'AMB' 'VAN' 'MACK' 'Lift Boom' 'TAXI' '3-Door'
 'SMALL COM VEH(4 TIRES) ' 'winne' 'AMBUL' 'p/sh' 'Dump'
 'Refrigerated Van' 'BOBCA' 'School Bus' 'truck' 'Armored Truck' 'UNKNO'
 'TRUCK' 'WHITE' 'COM' '4D' 'box t' 'E-Scooter' 'Mack' 'fire' 'UTIL'
 'LADDER 34' 'moped' 'DUMP' '4DS' 'Van Camper' 'E-Sco' 'DELIV' 'GOLF'
 'Stake or Rack' 'dump' 'E-Bik' 'Ambul' 'CONT' 'LTR' 'SCOOT' 'MOPED'
 'forkl' 'Motorized Home' 'Const' 'TRAIL' 'OTHER' 'limo' 'Parce'
 'Open Body' 'UT' 'City' 'Truck' 'van t' 'PICKU' 'FDNY' 'vespa' 'COMME'
 'Fire' 'PU' 'LIMO' 'Trail' 'Pickup with mounted Camper' 'BOX T' 'BoxTr'
 'BACKH' 'bus' 'CAT.' 'AMBU' 'WINEB' 'POLIC' 'Unkno' 'HI TA' 'FIRE'
 'E BIK' 'prks' 'Lunch Wagon' 'PICK-' 'Tow Truck' 'Pedicab' 'MINI' 'g spc'
 'Multi-Wheeled Vehicle' '35 FT' 'TRLR' 'excav' 'STREE' 'FORK' 'Minibike'
 'Tow T' 'tk' 'VAN T' 'NYS A' 'BS' 'FIRET' 'TOWTR' 'CITY' 'APPOR' 'MOBIL'
 'Golf' 'Sprin' 'POWER' 'Box t' 'scoot' 'back' 'ambul' 'trail' 'DIRT'
 'trl' 'utili' 'RMP V' 'TRK' 'elect' 'stree' 'UHAUL' 'LIMOU' 'USPS'
 'FIRE TRUCK' 'Mta' 'firet' 'ELECT' 'MTA B' 'AMBULANCE' 'Minicycle' 'BUS'
 'US PO' 'Scoot' 'PICK-UP TRUCK' 'BTM' 'MOTORCYCLE' 'Schoo' 'Delv' 'comm.'
 'range' 'TRAC' 'SCHOO' 'BULLD' 'Enclosed Body - Nonremovable Enclosure'
 'Pick up tr' 'SKATEBOARD' 'Tractor tr' 'SMART CAR' 'SWT' 'Front-Load'
 'Courier' 'PSD' 'DRILL RIG' 'FDNY LADDE' 'PICK UP' 'FDNY AMBUL' 'SUV'
 'GARBAGE TR' 'BOX TRUCK' 'Fire Engin' 'MOTOR SKAT' 'Scooter' 'GEN  AMBUL'
 'DELIVERY' 'UNKNOWN' 'UNK' 'FLATBED FR' 'POWER SHOV' 'dilevery t'
 'Work Van' 'F550' 'Fire Truck' 'forlift' 'message si' 'box truck'
 'trailer' 'TRUCK FLAT' 'Lawnmower' 'COURIER' 'FDNY Ambul' 'fdny ems'
 'FIRTRUCK' 'utility' 'dark color' 'TRUCK VAN' 'DELIVERY T' 'OTH' 'Pumper'
 'E-BIKE' 'scooter' 'Can' 'E-UNICYCLE' 'Golf Cart' 'FORKLIFT' 'ford van'
 'TRAILER' 'AMBULACE' 'UTILITY' 'Trac' 'FIRETRUCK' 'ambulance'
 'Leased amb' 'PC' 'FDNY TRUCK' 'Cement Tru' 'USPS/GOVT' 'dump truck'
 'FLAT' 'almbulance' 'box' 'Fork Lift' 'Fire truck' 'FDNY fire'
 'government' 'UTILITY VE' 'Fork lift' 'UNKN' 'FIRE ENGIN' 'UPS TRUCK'
 'Trailer' 'forklift' 'Livestock Rack' 'LIGHT TRAI' 'E REVEL SC' 'J1'
 'Go kart' 'FDNY ENGIN' '1C' 'gator' 'FREIGHT FL' 'Tractor Tr'
 'JOHN DEERE' 'backhoe' 'FDNY #226' 'usps' 'suburban' 'Wh Ford co'
 'fire truck' 'commercial' 'MOTORSCOOT' 'CAT' 'FOOD TRUCK' 'MTA BUS'
 'FD LADDER' 'Tractor' 'SLINGSHOT' 'ambu' 'Cargo Van' 'ROAD SWEEP'
 'SCOOTER' 'CHEVY EXPR' 'abulance' 'MOVING VAN' 'ELECTRIC S' 'MAIL TRUCK'
 'DELIVERY V' 'Pick up Tr' 'Horse' 'FDNY Engin' 'AMBULENCE' 'BOBCAT FOR'
 'Unknown' '18 WHEELER' 'Bucket Tru' 'cross' 'COMMERCIAL' 'USPS VAN'
 'FLATBED' 'ELEC. UNIC' 'USPS TRUCK' 'FDNY FIRE' 'DOT EQUIPM' 'Freight'
 'Work van' 'postal tru' 'FREIG DELV' 'CHEVROLET' 'Pick up' 'E-bike'
 'DIRT BIKE' 'camper tra' 'NYC FD' 'Utility.' 'White ambu' 'FDNY Fire'
 'FREIGHT TR' 'NYC AMBULA' 'GOLF CART' 'Fdny ambul' 'MECHANICAL'
 'F150XL PIC' 'Trc' 'tow truck' 'Commercial' 'f-250' 'POSTAL TRU'
 'PICK UP TR' 'LCOMM' 'FORK LIFT' 'TOW TRUCK' 'FUSION' 'pc' 'com' 'hrse'
 '0' 'SUBN WHI' 'e skate bo' 'EMS' 'postal bus' 'CARGO VAN'
 'Enclosed Body - Removable Enclosure' 'MOTOR SCOO' 'E bike' 'Ford sprin'
 'PICK-UP TR' 'BACK HOE' 'HRSE' 'FREIG' 'WORK VAN' 'Tow truck'
 'USPS POSTA' 'Well Driller' 'SELF' 'FORKL' 'Tow t' 'E450' 'Amb' 'UTILI'
 'PAYLO']

In [45]:
trucks = ['USPS TRUCK','Pick up','PICK-UP TR','Trc','Pick-up Truck', 'Tractor Truck Diesel', 'Box Truck', 'Tractor Truck Gasoline', 'Tow Truck / Wrecker', 'Beverage Truck', 'truck', 'Armored Truck', 'TRUCK', 'Truck', 'Tow Truck', 'FIRE TRUCK', 'PICK-UP TRUCK', 'BOX TRUCK', 'Fire Truck', 'box truck', 'TRUCK FLAT', 'FIRTRUCK', 'TRUCK VAN', 'FIRETRUCK', 'FDNY TRUCK', 'dump truck', 'Fire truck', 'UPS TRUCK', 'fire truck', 'FOOD TRUCK', 'MAIL TRUCK', 'USPS TRUCK', 'tow truck', 'TOW TRUCK', 'Tow truck']
df['vehicle_type_code1'] = df['vehicle_type_code1'].replace(to_replace=trucks, value='Truck')


amb= ['Ambulance', 'ambulance','EMS Ambula','AMBULANCE', 'EMS/VAN', 'AMBUL', 'Fdny ambul', 'NYC AMBULA',]
df['vehicle_type_code1'] = df['vehicle_type_code1'].replace(to_replace=amb, value='Ambulance')

sed= ['2 dr sedan', 'Sedan', '4 dr sedan']
df['vehicle_type_code1'] = df['vehicle_type_code1'].replace(to_replace=sed, value='Sedan')

van = ['van', 'Van', 'CARGO VAN', 'WORK VAN','Work van'] 
df['vehicle_type_code1'] = df['vehicle_type_code1'].replace(to_replace=van, value='Van')

print(df['vehicle_type_code1'].unique())

['Station Wagon/Sport Utility Vehicle' 'Sedan' 'Motorcycle' 'Taxi' 'Truck'
 'Ambulance' 'Bus' nan 'Bike' 'deliv' 'Van' 'tower' 'PAS' 'Tanker'
 'Flat Bed' 'Convertible' 'Motorscooter' 'Moped' 'e-350'
 'PASSENGER VEHICLE' 'RV' 'SPORT UTILITY / STATION WAGON'
 'Garbage or Refuse' 'Chassis Cab' 'self' 'Concrete Mixer' 'Flat Rack'
 'Carry All' 'Motorbike' 'REFG' 'Bulk Agriculture' 'PK' 'POSTA' 'TRACT'
 'E-Bike' 'DELV' 'AMB' 'VAN' 'MACK' 'Lift Boom' 'TAXI' '3-Door'
 'SMALL COM VEH(4 TIRES) ' 'winne' 'p/sh' 'Dump' 'Refrigerated Van'
 'BOBCA' 'School Bus' 'UNKNO' 'WHITE' 'COM' '4D' 'box t' 'E-Scooter'
 'Mack' 'fire' 'UTIL' 'LADDER 34' 'moped' 'DUMP' '4DS' 'Van Camper'
 'E-Sco' 'DELIV' 'GOLF' 'Stake or Rack' 'dump' 'E-Bik' 'Ambul' 'CONT'
 'LTR' 'SCOOT' 'MOPED' 'forkl' 'Motorized Home' 'Const' 'TRAIL' 'OTHER'
 'limo' 'Parce' 'Open Body' 'UT' 'City' 'van t' 'PICKU' 'FDNY' 'vespa'
 'COMME' 'Fire' 'PU' 'LIMO' 'Trail' 'Pickup with mounted Camper' 'BOX T'
 'BoxTr' 'BACKH' 'bus' 'CAT.' 'AMBU' 'WINEB' 'POLIC' 'Unkno' 'HI TA'
 'FIRE' 'E BIK' 'prks' 'Lunch Wagon' 'PICK-' 'Pedicab' 'MINI' 'g spc'
 'Multi-Wheeled Vehicle' '35 FT' 'TRLR' 'excav' 'STREE' 'FORK' 'Minibike'
 'Tow T' 'tk' 'VAN T' 'NYS A' 'BS' 'FIRET' 'TOWTR' 'CITY' 'APPOR' 'MOBIL'
 'Golf' 'Sprin' 'POWER' 'Box t' 'scoot' 'back' 'ambul' 'trail' 'DIRT'
 'trl' 'utili' 'RMP V' 'TRK' 'elect' 'stree' 'UHAUL' 'LIMOU' 'USPS' 'Mta'
 'firet' 'ELECT' 'MTA B' 'Minicycle' 'BUS' 'US PO' 'Scoot' 'BTM'
 'MOTORCYCLE' 'Schoo' 'Delv' 'comm.' 'range' 'TRAC' 'SCHOO' 'BULLD'
 'Enclosed Body - Nonremovable Enclosure' 'Pick up tr' 'SKATEBOARD'
 'Tractor tr' 'SMART CAR' 'SWT' 'Front-Load' 'Courier' 'PSD' 'DRILL RIG'
 'FDNY LADDE' 'PICK UP' 'FDNY AMBUL' 'SUV' 'GARBAGE TR' 'Fire Engin'
 'MOTOR SKAT' 'Scooter' 'GEN  AMBUL' 'DELIVERY' 'UNKNOWN' 'UNK'
 'FLATBED FR' 'POWER SHOV' 'dilevery t' 'Work Van' 'F550' 'forlift'
 'message si' 'trailer' 'Lawnmower' 'COURIER' 'FDNY Ambul' 'fdny ems'
 'utility' 'dark color' 'DELIVERY T' 'OTH' 'Pumper' 'E-BIKE' 'scooter'
 'Can' 'E-UNICYCLE' 'Golf Cart' 'FORKLIFT' 'ford van' 'TRAILER' 'AMBULACE'
 'UTILITY' 'Trac' 'Leased amb' 'PC' 'Cement Tru' 'USPS/GOVT' 'FLAT'
 'almbulance' 'box' 'Fork Lift' 'FDNY fire' 'government' 'UTILITY VE'
 'Fork lift' 'UNKN' 'FIRE ENGIN' 'Trailer' 'forklift' 'Livestock Rack'
 'LIGHT TRAI' 'E REVEL SC' 'J1' 'Go kart' 'FDNY ENGIN' '1C' 'gator'
 'FREIGHT FL' 'Tractor Tr' 'JOHN DEERE' 'backhoe' 'FDNY #226' 'usps'
 'suburban' 'Wh Ford co' 'commercial' 'MOTORSCOOT' 'CAT' 'MTA BUS'
 'FD LADDER' 'Tractor' 'SLINGSHOT' 'ambu' 'Cargo Van' 'ROAD SWEEP'
 'SCOOTER' 'CHEVY EXPR' 'abulance' 'MOVING VAN' 'ELECTRIC S' 'DELIVERY V'
 'Pick up Tr' 'Horse' 'FDNY Engin' 'AMBULENCE' 'BOBCAT FOR' 'Unknown'
 '18 WHEELER' 'Bucket Tru' 'cross' 'COMMERCIAL' 'USPS VAN' 'FLATBED'
 'ELEC. UNIC' 'FDNY FIRE' 'DOT EQUIPM' 'Freight' 'postal tru' 'FREIG DELV'
 'CHEVROLET' 'E-bike' 'DIRT BIKE' 'camper tra' 'NYC FD' 'Utility.'
 'White ambu' 'FDNY Fire' 'FREIGHT TR' 'GOLF CART' 'MECHANICAL'
 'F150XL PIC' 'Commercial' 'f-250' 'POSTAL TRU' 'PICK UP TR' 'LCOMM'
 'FORK LIFT' 'FUSION' 'pc' 'com' 'hrse' '0' 'SUBN WHI' 'e skate bo' 'EMS'
 'postal bus' 'Enclosed Body - Removable Enclosure' 'MOTOR SCOO' 'E bike'
 'Ford sprin' 'BACK HOE' 'HRSE' 'FREIG' 'USPS POSTA' 'Well Driller' 'SELF'
 'FORKL' 'Tow t' 'E450' 'Amb' 'UTILI' 'PAYLO']

In [46]:
df.duplicated().any()
df.drop_duplicates(inplace=True)

In [47]:
df=df.dropna(subset=['location','zip_code','borough'], how='all')

In [26]:
df.head(20)

,crash_date,crash_time,borough,zip_code,location,on_street_name,off_street_name,cross_street_name,number_of_persons_injured,number_of_persons_killed,...,contributing_factor_vehicle_1,contributing_factor_vehicle_2,contributing_factor_vehicle_3,contributing_factor_vehicle_4,contributing_factor_vehicle_5,vehicle_type_code1,vehicle_type_code2,vehicle_type_code_3,vehicle_type_code_4,vehicle_type_code_5
1,2021-03-04T00:00:00.000,16:15,MANHATTAN,10026.0,NaN,NaN,NaN,235 W 115 Street,0,0,...,Unspecified,NaN,NaN,NaN,NaN,Sedan,NaN,NaN,NaN,NaN
2,2021-03-03T00:00:00.000,0:00,MANHATTAN,10035.0,NaN,NaN,NaN,1 RANDALLS ISLAND,0,0,...,Unspecified,NaN,NaN,NaN,NaN,Station Wagon/Sport Utility Vehicle,NaN,NaN,NaN,NaN
4,2021-03-02T00:00:00.000,23:40,BRONX,10451.0,NaN,EAST 138 STREET,MAJOR DEEGAN EXPRESSWAY,NaN,0,0,...,Unspecified,NaN,NaN,NaN,NaN,Sedan,NaN,NaN,NaN,NaN
8,2021-02-27T00:00:00.000,18:38,NaN,0.0,"(40.687244, -73.95469)",BEDFORD AVENUE,NaN,NaN,0,0,...,Passing or Lane Usage Improper,Unspecified,NaN,NaN,NaN,Sedan,Sedan,NaN,NaN,NaN
12,2020-11-29T00:00:00.000,18:00,BROOKLYN,11234.0,NaN,NaN,NaN,4528 KINGS HIGHWAY,0,0,...,Other Vehicular,Unspecified,NaN,NaN,NaN,Sedan,NaN,NaN,NaN,NaN
14,2021-02-25T00:00:00.000,17:45,NaN,0.0,"(40.689194, -73.75365)",120 AVENUE,196 STREET,NaN,1,0,...,Unspecified,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
15,2021-02-25T00:00:00.000,20:30,BROOKLYN,11207.0,"(40.660286, -73.89084)",HEGEMAN AVENUE,NEW JERSEY AVENUE,NaN,0,0,...,Unspecified,NaN,NaN,NaN,NaN,Taxi,NaN,NaN,NaN,NaN
16,2021-02-25T00:00:00.000,6:35,QUEENS,11423.0,NaN,NaN,NaN,198-15 GRAND CENTRAL PARKWAY,0,0,...,Unspecified,NaN,NaN,NaN,NaN,Truck,NaN,NaN,NaN,NaN
18,2021-02-23T00:00:00.000,11:12,BROOKLYN,11208.0,NaN,ATLANTIC AVENUE,FOUNTAIN AVENUE,NaN,1,0,...,Pavement Defective,NaN,NaN,NaN,NaN,Sedan,NaN,NaN,NaN,NaN
20,2021-02-23T00:00:00.000,22:00,QUEENS,11356.0,NaN,LINDEN PLACE,23 AVENUE,NaN,3,0,...,Failure to Yield Right-of-Way,Unspecified,Unspecified,NaN,NaN,Sedan,Sedan,Box Truck,NaN,NaN
23,2021-02-22T00:00:00.000,14:30,QUEENS,11426.0,NaN,244 STREET,80 ROAD,NaN,1,0,...,Unspecified,Unspecified,Unspecified,NaN,NaN,Sedan,Sedan,Sedan,NaN,NaN
25,2021-02-21T00:00:00.000,13:05,NaN,0.0,"(40.768642, -73.949036)",FDR DRIVE,NaN,NaN,0,0,...,Other Vehicular,Unspecified,NaN,NaN,NaN,Sedan,Sedan,NaN,NaN,NaN
26,2021-02-21T00:00:00.000,16:25,QUEENS,11363.0,"(40.76229, -73.75711)",NORTHERN BOULEVARD,CROSS ISLAND PARKWAY,NaN,0,0,...,Driver Inexperience,NaN,NaN,NaN,NaN,Sedan,NaN,NaN,NaN,NaN
27,2021-02-21T00:00:00.000,20:35,NaN,0.0,"(40.86155, -73.92472)",NAGLE AVENUE,NaN,NaN,1,0,...,Unspecified,NaN,NaN,NaN,NaN,Sedan,NaN,NaN,NaN,NaN
28,2021-02-20T00:00:00.000,18:52,BROOKLYN,11234.0,NaN,EAST 72 STREET,AVENUE K,NaN,1,0,...,Failure to Yield Right-of-Way,NaN,NaN,NaN,NaN,Sedan,NaN,NaN,NaN,NaN
30,2021-02-18T00:00:00.000,11:00,QUEENS,11418.0,"(40.697334, -73.847084)",NaN,NaN,101-10 85 ROAD,0,0,...,Driver Inattention/Distraction,Unspecified,NaN,NaN,NaN,Sedan,NaN,NaN,NaN,NaN
32,2021-02-18T00:00:00.000,9:30,BRONX,10475.0,NaN,NaN,NaN,272 BAYCHESTER AVENUE,0,0,...,Pavement Slippery,NaN,NaN,NaN,NaN,Station Wagon/Sport Utility Vehicle,NaN,NaN,NaN,NaN
33,2021-02-17T00:00:00.000,12:25,QUEENS,11378.0,NaN,NaN,NaN,61-03 61 STREET,0,0,...,Unspecified,NaN,NaN,NaN,NaN,Sedan,NaN,NaN,NaN,NaN
34,2021-02-17T00:00:00.000,15:32,MANHATTAN,10019.0,NaN,WEST 50 STREET,12 AVENUE,NaN,0,0,...,Following Too Closely,Unspecified,NaN,NaN,NaN,Station Wagon/Sport Utility Vehicle,Sedan,NaN,NaN,NaN
35,2021-02-17T00:00:00.000,21:50,NaN,0.0,"(40.831623, -73.95072)",HENRY HUDSON PARKWAY,NaN,NaN,0,0,...,Unspecified,NaN,NaN,NaN,NaN,Sedan,NaN,NaN,NaN,NaN

In [67]:
df['zip_code'] = df['zip_code'].fillna(0)  #replace NAN with zero in zip code
df['on_street_name'] = df['on_street_name'].fillna(0)

In [53]:
df.head()

,crash_date,crash_time,borough,zip_code,location,on_street_name,off_street_name,cross_street_name,number_of_persons_injured,number_of_persons_killed,...,contributing_factor_vehicle_1,contributing_factor_vehicle_2,contributing_factor_vehicle_3,contributing_factor_vehicle_4,contributing_factor_vehicle_5,vehicle_type_code1,vehicle_type_code2,vehicle_type_code_3,vehicle_type_code_4,vehicle_type_code_5
0,2017-04-18T00:00:00.000,23:10,STATEN ISLAND,10312.0,"(40.536728, -74.193344)",0,NaN,243 DARLINGTON AVENUE,0,0,...,Driver Inattention/Distraction,Unspecified,NaN,NaN,NaN,Station Wagon/Sport Utility Vehicle,NaN,NaN,NaN,NaN
1,2017-05-06T00:00:00.000,13:00,BRONX,10472.0,"(40.829052, -73.85038)",CASTLE HILL AVENUE,BLACKROCK AVENUE,NaN,1,0,...,Failure to Yield Right-of-Way,NaN,NaN,NaN,NaN,Sedan,NaN,NaN,NaN,NaN
2,2017-04-27T00:00:00.000,17:15,QUEENS,11420.0,"(40.677303, -73.804565)",135 STREET,FOCH BOULEVARD,NaN,0,0,...,Driver Inattention/Distraction,Unspecified,NaN,NaN,NaN,Sedan,Sedan,NaN,NaN,NaN
3,2017-05-09T00:00:00.000,20:10,NaN,0.0,"(40.624958, -74.145775)",FOREST AVENUE,RICHMOND AVENUE,NaN,1,0,...,Unspecified,Unspecified,Unspecified,NaN,NaN,Motorcycle,Sedan,Bus,NaN,NaN
4,2017-04-18T00:00:00.000,14:00,BRONX,10456.0,"(40.828846, -73.90312)",0,NaN,1167 BOSTON ROAD,0,0,...,Driver Inattention/Distraction,Unspecified,NaN,NaN,NaN,Sedan,Station Wagon/Sport Utility Vehicle,NaN,NaN,NaN

In [54]:
df['on_street_name'].value_counts() #streets with many accidents

0                                   25683
BELT PARKWAY                         1462
LONG ISLAND EXPRESSWAY               1002
BROOKLYN QUEENS EXPRESSWAY            889
BROADWAY                              849
                                    ...
BEACH 123 STREET                        1
QUEENS BLVD                             1
jackie robinson parkway                 1
SOUTH OAK DRIVE                         1
Van Cortlandt Park South                1
Name: on_street_name, Length: 3978, dtype: int64

In [55]:
df['location'].value_counts() # different locations along a street

(0.0, 0.0)                169
(40.861862, -73.91282)     79
(40.8047, -73.91243)       55
(40.820305, -73.89083)     52
(40.675735, -73.89686)     48
                         ...
(40.889774, -73.84438)      1
(40.881966, -73.90335)      1
(40.6036, -73.99658)        1
(40.70313, -73.987595)      1
(40.829983, -73.89733)      1
Name: location, Length: 44605, dtype: int64

In [68]:
df['accident_index'] = (df['number_of_persons_killed'] + 0.2 * df['number_of_persons_injured'])

#measure of severity of accident , can be done in many ways to be done in the future

In [69]:
df.head().T

,0,1,2,3,4
crash_date,2017-04-18T00:00:00.000,2017-05-06T00:00:00.000,2017-04-27T00:00:00.000,2017-05-09T00:00:00.000,2017-04-18T00:00:00.000
crash_time,23:10,13:00,17:15,20:10,14:00
borough,STATEN ISLAND,BRONX,QUEENS,NaN,BRONX
zip_code,10312,10472,11420,0,10456
location,"(40.536728, -74.193344)","(40.829052, -73.85038)","(40.677303, -73.804565)","(40.624958, -74.145775)","(40.828846, -73.90312)"
on_street_name,0,CASTLE HILL AVENUE,135 STREET,FOREST AVENUE,0
off_street_name,NaN,BLACKROCK AVENUE,FOCH BOULEVARD,RICHMOND AVENUE,NaN
cross_street_name,243 DARLINGTON AVENUE,NaN,NaN,NaN,1167 BOSTON ROAD
number_of_persons_injured,0,1,0,1,0
number_of_persons_killed,0,0,0,0,0
number_of_pedestrians_injured,0,1,0,0,0
number_of_pedestrians_killed,0,0,0,0,0
number_of_cyclist_injured,0,0,0,0,0
number_of_cyclist_killed,0,0,0,0,0
number_of_motorist_injured,0,0,0,1,0
number_of_motorist_killed,0,0,0,0,0
contributing_factor_vehicle_1,Driver Inattention/Distraction,Failure to Yield Right-of-Way,Driver Inattention/Distraction,Unspecified,Driver Inattention/Distraction
contributing_factor_vehicle_2,Unspecified,NaN,Unspecified,Unspecified,Unspecified
contributing_factor_vehicle_3,NaN,NaN,NaN,Unspecified,NaN
contributing_factor_vehicle_4,NaN,NaN,NaN,NaN,NaN
contributing_factor_vehicle_5,NaN,NaN,NaN,NaN,NaN
vehicle_type_code1,Station Wagon/Sport Utility Vehicle,Sedan,Sedan,Motorcycle,Sedan
vehicle_type_code2,NaN,NaN,Sedan,Sedan,Station Wagon/Sport Utility Vehicle
vehicle_type_code_3,NaN,NaN,NaN,Bus,NaN
vehicle_type_code_4,NaN,NaN,NaN,NaN,NaN
vehicle_type_code_5,NaN,NaN,NaN,NaN,NaN
accident_index,0,0.2,0,0.2,0

In [75]:
#define new dataframe with a the street name as the index which allows new features to be extracted
df_new = df.set_index(df['on_street_name'])

In [76]:
df_new.head().T

on_street_name,0,CASTLE HILL AVENUE,135 STREET,FOREST AVENUE,0
crash_date,2017-04-18T00:00:00.000,2017-05-06T00:00:00.000,2017-04-27T00:00:00.000,2017-05-09T00:00:00.000,2017-04-18T00:00:00.000
crash_time,23:10,13:00,17:15,20:10,14:00
borough,STATEN ISLAND,BRONX,QUEENS,NaN,BRONX
zip_code,10312,10472,11420,0,10456
location,"(40.536728, -74.193344)","(40.829052, -73.85038)","(40.677303, -73.804565)","(40.624958, -74.145775)","(40.828846, -73.90312)"
on_street_name,0,CASTLE HILL AVENUE,135 STREET,FOREST AVENUE,0
off_street_name,NaN,BLACKROCK AVENUE,FOCH BOULEVARD,RICHMOND AVENUE,NaN
cross_street_name,243 DARLINGTON AVENUE,NaN,NaN,NaN,1167 BOSTON ROAD
number_of_persons_injured,0,1,0,1,0
number_of_persons_killed,0,0,0,0,0
number_of_pedestrians_injured,0,1,0,0,0
number_of_pedestrians_killed,0,0,0,0,0
number_of_cyclist_injured,0,0,0,0,0
number_of_cyclist_killed,0,0,0,0,0
number_of_motorist_injured,0,0,0,1,0
number_of_motorist_killed,0,0,0,0,0
contributing_factor_vehicle_1,Driver Inattention/Distraction,Failure to Yield Right-of-Way,Driver Inattention/Distraction,Unspecified,Driver Inattention/Distraction
contributing_factor_vehicle_2,Unspecified,NaN,Unspecified,Unspecified,Unspecified
contributing_factor_vehicle_3,NaN,NaN,NaN,Unspecified,NaN
contributing_factor_vehicle_4,NaN,NaN,NaN,NaN,NaN
contributing_factor_vehicle_5,NaN,NaN,NaN,NaN,NaN
vehicle_type_code1,Station Wagon/Sport Utility Vehicle,Sedan,Sedan,Motorcycle,Sedan
vehicle_type_code2,NaN,NaN,Sedan,Sedan,Station Wagon/Sport Utility Vehicle
vehicle_type_code_3,NaN,NaN,NaN,Bus,NaN
vehicle_type_code_4,NaN,NaN,NaN,NaN,NaN
vehicle_type_code_5,NaN,NaN,NaN,NaN,NaN
accident_index,0,0.2,0,0.2,0

In [83]:
df.to_csv('NYC_.csv')